* {
	-fx-primary-color: #EC4842;
	-fx-secondary-color: #4B6EAF;
	-fx-grey-color: #b9b9b9;
    
	-fx-focus-color: -fx-secondary-color;
}

.text-field {
	-fx-accent: -fx-primary-color;
	-fx-background-color: -fx-grey-color, white;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
}

.text-field:focused {
	-fx-background-color: -fx-primary-color, white;
}

.label {
	-fx-padding: 2px;
	-fx-font-weight: bold;
}

.labelheader {
	-fx-padding: 0 0 0 20px;
}

/* BUTTON CSS */

.button {
   -fx-background-color: #EC4842;
   -fx-padding: 10px;
   -fx-background-radius: 1em;
   -fx-font-weight: bold;
}

.button:hover{
   -fx-background-color: #E0433E;
}
.button:pressed{
   -fx-background-color: #E04330;
}
.button:focussed{
   -fx-background-color: #2A1C42;
   -fx-border-color: #CDD1D6;
   -fx-border-width: 0px 0px 0px 3px;
}

/* FILTER */
.filterButton {
	
}

.filterHbox {
	-fx-padding: 20px 20px 0px 20px;
	-fx-alignment: center;
	-fx-spacing: 20px;
}

/* TABLEVIEW CSS */

.table-view {
	-fx-padding: 20px;
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0px 0 0;
    -fx-padding: 2px 0 3px 0;
}

.table-view .column-footer-background{
	-fx-background-color: linear-gradient(to bottom, #EC4842, #E0433E);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 2 2 2px;
}
.table-row-cell: hover {
    -fx-background-color: #EC4842;
}
.table-row-cell: odd{
    -fx-background-color: #EFEDED;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell: selected{
    -fx-background-color: #EC4842;
    -fx-text-background-color: #ffffff;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: white;
    -fx-padding: 1px;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #EC4842;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, white, #EC4842);
}
