.button {
	-fx-background-color: #E0433E;
	-fx-background-radius: 0em;
	
}

.button:hover{
	-fx-background-color: #E0433E;
	
}
.button:pressed{
	-fx-background-color: #7256DD;
}
.button:focussed{
	-fx-background-color: #2A1C42;
	-fx-border-color: #CDD1D6;
	-fx-border-width: 0px 0px 0px 3px;
	}
